<h1>Log In</h1>

<div id="default-sub-content-wrapper">


<% form_tag session_path do -%>
<p>
<%= text_field_tag 'login', @login , default_text("Login")%></p>

<p>
<%= password_field_tag 'password', nil, default_text("Password") %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>

</div>