<div class="setting-set">
	<div class="setting-set-title">Garbage Pickup Zone Settings:</div>
	
	Your Address: <%= f.text_field :address %>
	<%= link_to_remote("Lookup",
	          :url =>{ :action => :lookup_zone, :controller => "addresses" },
			  :with => "'address=' + $('subscription_service_address').value") %><br/>
	<%= hidden_field_tag :return_to_settings, '0' %>
	Your Pickup Zone: <%= f.select :formatted_zone, ["--"] | GarbageSubscription.valid_zones, {}, :disabled => !service_subscription.manual_zone %>
	Manually Set Your Zone:<%= f.check_box :manual_zone, :onclick  => "$('service_subscription_formatted_zone').disabled = !$('service_subscription_manual_zone').checked" %>
</div>