<div class="setting-set">
	<div class="setting-set-title">Garbage Pickup Zone Settings:</div>
	<div class="setting-set-hint">Either lookup your zone by address, or manually set it.<br/>Example Address: 10145 119th St, Edmonton, AB</div>
	
	Your Address: <%= f.text_field :address%>
	<%= link_to_remote("Lookup",
	          :url =>{ :action => :lookup_zone, :controller => "addresses" },
			  :with => "'address=' + $('service_subscription_address').value") %><br/>
	<div id="service_subscription_formatted_zone_error"></div>
	Your Pickup Zone: <%= f.select :formatted_zone, ["--"] | GarbageSubscription.valid_zones, {}, :style => (service_subscription.manual_zone ? "" : "display:none")%>
	<span id="service_subscription_formatted_zone_readonly" style="<%= (service_subscription.manual_zone ? "display:none" : "") %>"><%= (service_subscription.formatted_zone.nil? ? "--" : service_subscription.formatted_zone )%></span>
	Manually Set Your Zone:<%= f.check_box :manual_zone, :onclick  => "$('service_subscription_formatted_zone').disabled = !$('service_subscription_manual_zone').checked; $('service_subscription_formatted_zone').toggle();
	$('service_subscription_formatted_zone_readonly').toggle()" %>
</div>