<h1>Edit Your Subscription Settings</h1>

<% form_for(@service_subscription) do |f| %>
  	<%= f.error_messages %>
	<%= render :partial => @service_subscription.edit_partial, :locals => {:f => f}%>

  <p>
    <%= f.label :enabled %><br />
    <% if current_user.verified? %>
      <%= f.check_box :enabled %>
    <% else %>
      <%= f.check_box :enabled, :disabled => true %>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', service_subscriptions_path %>