<h1>Editing service_subscription</h1>

<% form_for(@service_subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @service_subscription %> |
<%= link_to 'Back', service_subscriptions_path %>