<h1>Reset your password</h1>

<div id="default-sub-content-wrapper">

Set a new password for your account.

<% form_tag reset_user_path(@user), :method => :put do -%>
<%= error_messages_for :user %>
<p><%= label_tag 'password' %><br/>
<%= password_field :user, :password %></p>

<%= hidden_field_tag :token, @token %>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= password_field :user, :password_confirmation %></p>

<p><%= submit_tag 'Reset' %></p>
<% end -%>

</div>