<h1>Contact</h1>
<div id="default-sub-content-wrapper" class="contact-override" >
<p>For any general inquiries we can be contacted at <%= mail_to 'general@alertzy.com', 'general@alertzy.com' %> or fill out the form below:</p>

<div id ="contact-info">
	<%= error_messages_for @contact %>
	<%= form_for @contact, :url => contact_submit_path do |form| %>
		<p>
			<%= form.label :name  %>
			<%= form.text_field :name, :size => 56 %>
		</p>
		<p>
			<%= form.label :email %>
			<%= form.text_field :email, :size => 56 %>
		</p>
		<p>
			<%= form.label :subject %>
			<%= form.text_field :subject, :size => 56 %>
		</p>
		<p>
			<%= form.label :message %>
			<%= form.text_area :message, :cols => 44, :rows => 20 %>
		</p>

			<div id ="contact_btn">
			  <%= submit_tag 'Contact!', :class => "sexybutton sexysimple"%>
		  </div>
	<% end %>
	</div>
</div>
