    <h1>Services Available</h1>
    <div class="service">
      <div class="logo">
        <%= image_tag 'gcan90.png', :alt => "Garbage Can" %>
      </div>
      <div class="text">
        <div class="title">
          Garbage Pickup Reminders
        </div>
        <div class="description">
					<div class="description_text">
          	We'll send you helpful SMS (text message) reminders to take out your trash.  
	          Make sure you never miss a garbage pickup again!  
	          The timing of the alert, and the zone for pickup are customizable.  
	          Don't know your garbage pickup zone?  
	          We can look it up for you by your address!
					</div>
          <div class="description_flags">
         	  Currently Available in:
	          <br/> 
						<%= image_tag 'flags/Canada-Flag-16.png', :alt => "Canada" %> - Edmonton, Alberta
					</div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="service">
      <div class="logo">
        <%= image_tag 'fields90.png', :alt => "Garbage Can" %>
      </div>
      <div class="text">
        <div class="title">
          Sports Field Closure Updates
        </div>
        <div class="description">
					<div class="description_text">
				          We'll monitor your cities status report for the existing sport fields  
									and send you an SMS (text message) update when the status of a field changes. 
				          Always know whether your, or your child's, sporting events have been canceled wherever you are!
					</div>
					<div class="description_flags">
            Currently Available in:
	          <br/> 
						<%= image_tag 'flags/Canada-Flag-16.png', :alt => "Canada" %> - Edmonton, Alberta
					</div>
        </div>
      </div>
    </div>
		<div class="divider"></div>
    <div class="service">
      <div class="logo">
        <%= image_tag 'fields90.png', :alt => "Garbage Can" %>
      </div>
      <div class="text">
        <div class="title">
          Birth Control Reminder
        </div>
        <div class="description">
					<div class="description_text">
				          Tired of forgetting your birth control pill? We'll send you a reminder every day that you need to take one.
									You'll never lose track of which pill you're on either. We keep track of that for you! 
				  </div>
					<div class="description_flags">
        	  Currently Available in:
	          <br/> 
						<%= image_tag 'flags/Canada-Flag-16.png', :alt => "Canada" %> - Canada
						<br/>
						<%= image_tag 'flags/United-States-Flag-16.png', :alt => "United States" %> - United States
					</div>
        </div>
      </div>
    </div>




  <!-- <div class="divider"></div>
  <div class="service">
    <div class="logo">
      <%= image_tag 'city_election90.png', :alt => "Ballot Check" %>
    </div>
    <div class="text">
      <div class="title">
        City Election Live Updates
      </div>
      <div class="description">
        We'll send you updates during the vote counting for the City of Edmonton's civic election occurring Oct.18th, 2010.  Get an update every 30 minutes during counting with the live progress of the Mayoral race!
      </div>
    </div>
  </div> -->
