<!-- ***** HEADER START ***** -->

<div id="header">
<div class="header_wrapper">
    <!-- logo -->
    <div id="logo"><a href="index.html"><img src ="images/green_grey/header_logo.png" alt="Alertzy Homepage" width=114 height=31></a></div>
    <!-- logo -->
    
    <!-- main menu -->
    <div id="navigation">
        <ul class="nav">
        <li class="current"><%= link_to content_tag(:span, "Home"), root_path %></li>
        <li><%= link_to content_tag(:span, "Services"), services_list_path%></li>
        <li><%= link_to content_tag(:span, "About"), about_path %></li>
        <li><%= link_to content_tag(:span, "Contact"), contact_path %></li>
        <li><%= link_to content_tag(:span, "FAQ"), faq_path%></li>
        <li><%= link_to content_tag(:span, "Municipalities"), faq_path%></li>
        </ul> 
    </div>
    <!-- end of main menu -->
</div><!-- End of header_wrapper -->
</div><!-- End of header -->

<!-- ***** HEADER END ***** -->
