<div id="header" class="round span-24 last">
  <div class="span-12">
  	<%= link_to logo, root_path %>
  </div>
  <div class="span-12 last">
	<% if logged_in? %>
	<div class="link-bar <%= header_link_class%>">
		<%= link_to "Home", root_path, :class => "home" %>
		<% if admin? %>
		<%= link_to "Send Message", new_sms_message_path, :class => "send-message"%>
		<% end %>
		<%= link_to "Subscriptions",  service_subscriptions_path, :class => "subscriptions"%>
		<%= link_to "Settings", edit_user_path(current_user), :class => "settings"%>
		<%= link_to "Sign out", logout_path, :method => :delete %>
	</div>
    <% else %>
		<% form_tag session_path do -%>
		<%= text_field_tag 'login', @login , default_text("Login")%>
		<%= password_field_tag 'password', nil, default_text("Password") %>
		<%= submit_tag "Login", :class => "sexybutton sexysimple" %>

		<% end -%>
		<%# sexy simple links are smaller than buttons! %>
		<%= link_to " Not signed up? Register Now!", { :controller => 'users_controller', :action => 'new' }, :class => "sexybutton sexysimple sexygreen sexyxxxl" -%>
    <%#= link_to "Register",  new_user_path%>
    <% end %>
  
  </div>
</div>