<!-- ***** HEADER START ***** -->

<div id="header">
<div class="header_wrapper">
    <!-- logo -->
    <div id="logo"><a href="/"><img src ="/images/green_grey/header_logo.png" alt="Alertzy Homepage" width=114 height=31></a></div>
    <!-- logo -->
    
    <!-- main menu -->
    <div id="navigation">
      <%= tabs_tag(:builder => TopMenuBuilder, :open_tabs => { :class => "nav"}) do |tab| %>
        <%= tab.home           "Home", root_path %>
        <%= tab.services       "Services", services_path %>
        <%= tab.about          "About", about_path %>
        <%= tab.contact        "Contact", contact_path %>
        <%= tab.faq            "FAQ", faq_path %>
        <% if logged_in? -%>
          <%= tab.logout         "Logout", logout_path, :class => "right"  %>
          <%= tab.settings       "Settings", edit_user_path(current_user), :class => "right" %>
          <%= tab.application    "Subscriptions", service_subscriptions_path, :class => "right" %>
        <% else -%>
          <%= tab.register "Register",  new_user_path, :class => "right"  %>
          <span class="nav-text">Not signed up?</span>
          <%= tab.login          "Login",  login_path, :class => "right"  %>
        <% end -%>
      <% end -%>
    </div>
    <!-- end of main menu -->
</div><!-- End of header_wrapper -->
</div><!-- End of header -->

<!-- ***** HEADER END ***** -->
