<% content_for :content do %>
<div id="page-wrapper">
	<div class="span-16">
		<div id="page-content-area">
			<div class="page-link-bar round <%= params[:action] %>">
				<%= link_to "Home", root_path, :class => "sexybutton sexysimple sexylarge" %>
				<%= link_to "Services", services_list_path, :class => "sexybutton sexysimple sexylarge" %>
			    <%= link_to "About", about_path, :class => "sexybutton sexysimple sexylarge" %>
			    <%= link_to "Contact", contact_path, :class => "sexybutton sexysimple sexylarge" %>
				<%= link_to "FAQ", faq_path, :class => "sexybutton sexysimple sexylarge" %>
			</div>
			<div id="page-content-wrapper">
				<div id="page-content">
					<%= yield(:pages_content) or yield %>
				</div>
			</div>
		</div>
	</div>
	<div class="span-8 page-sidebar-area last">
		<div id="page-sidebar-area">
			<div id="page-sidebar-content">
				<div class="title">
					Sponsors
				</div>
				<div class="body">
					Direct Text Marketing
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= render :file => 'layouts/application' %>